html{
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
body {
    height: 95vh;
    width: 100vw;
    background-image: url(assets/wp1.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}

#loading{
    position:fixed;
    background:  #11616b;
    /* no-repeat center; */
    display: flex;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 100;
}
#svg-loader{
    align-items: center;
    justify-content: center;
}


#canvasDiv{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
/* #go321{
    position: absolute;
    top: 40%;
    font-size: 100px;
    color: blue;
} */
.my-container{
    margin-top: 15px;
}
#welcomePage{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.game-screen-div {
    margin: 30px;
    display: flex;
    flex-direction: row;
}
.top-row{
    display: flex;
    justify-content: space-evenly;
}

.clock-timer{
    margin: auto;
    text-align: center;
}

.card{
    background-color: rgba(113, 150, 230, 0.418);
}
.room-list{
    background-color: rgba(113, 150, 230, 0.418);
    color: rgb(0, 255, 0);
    min-width: 330px;
    max-width: 430px;
}
.row{
    margin: 20px;
}

.room-names{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.room-names button{
    margin: 5px 5px 5px 5px;
}

#ping_element {
    /* background-color: black; */
    color: rgb(43, 214, 51);
    width: 100%;
}

.dont-show-at-welcome {
    display: none;
}


#roomCodeDiv {
    color: rgb(43, 214, 51);
    width: 100%;
}

.my-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: black;
    color: rgb(1, 255, 1);
    width: 700px;
    max-width: 80%;
}

.my-modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.my-modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 1.25rem;
    font-weight: bold;
}

.my-modal-close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: rgb(1, 255, 1);
    font-size: 1.25rem;
    font-weight: bold;
}

.my-modal-body {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

#score-board{
    /* background: #314755;  
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  
    background: linear-gradient(to right, #26a0da, #314755); */
    background: #b92b27;  
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  
    background: linear-gradient(to right, #1565C0, #b92b27); 

    display: inline-block;
    color: white;
    position: relative;
    /* border-radius: 10%; */
    /* border: 1px solid black; */
}
.teamA{
    /* background-color: rgba(223, 200, 200, 0.726); */
    display: inline-block;
    padding: 0px 15px 0px 15px;
    position: relative;
    text-align: center;
}
.teamA::before{
    content: '';
    background-color: blue;
    width: 0.1em;
    height: 1.5em;
    position: absolute;
    left: 0em;
}
.teamA::after{
    content: '';
    position: absolute;
    right: -1em;
    border-style: solid;
    border-width: 12px;
    border-left-color: blue;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.teamB{
    /* background-color: rgba(223, 200, 200, 0.726); */
    display: inline-block;
    padding: 0px 15px 0px 15px;
    position: relative;
    text-align: center;
}
.teamB::before{
    content: '';
    position: absolute;
    left: -1em;
    border-style: solid;
    border-width: 12px;
    border-right-color: red;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.teamB::after{
    content: '';
    background-color: red;
    width: 0.1em;
    height: 1.5em;
    position: absolute;
    right: 0em;
}
.score{
    display: inline-block;
    margin-left: 10px;
    margin-right: 8px;
}