html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body {
    height: 95vh;
    width: 100vw;
    background-image: url(assets/wp1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#go321{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}
.my-container{
    margin-top: 15px;
}
#welcomePage{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.game-screen-div {
    margin: 30px;
    display: flex;
    flex-direction: row;
}
.top-row{
    display: flex;
    justify-content: space-evenly;
}

.clock-timer{
    margin: auto;
    text-align: center;
}

.card{
    background-color: rgba(113, 150, 230, 0.418);
}
.room-list{
    background-color: rgba(113, 150, 230, 0.418);
    color: rgb(0, 255, 0);
    min-width: 330px;
    max-width: 430px;
}
.row{
    margin: 20px;
}

.room-names{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.room-names button{
    margin: 5px 5px 5px 5px;
}

#ping_element {
    /* background-color: black; */
    color: rgb(43, 214, 51);
    width: 100%;
}

.dont-show-at-welcome {
    display: none;
}


#roomCodeDiv {
    color: rgb(43, 214, 51);
    width: 100%;
}

.my-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: black;
    color: rgb(1, 255, 1);
    width: 700px;
    max-width: 80%;
}

.my-modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.my-modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 1.25rem;
    font-weight: bold;
}

.my-modal-close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    color: rgb(1, 255, 1);
    font-size: 1.25rem;
    font-weight: bold;
}

.my-modal-body {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}