:root {
    --navheight: 7vh;
}

#canvasDiv {
    /* background-color: rgb(157, 216, 133); */
    width: 100%;
    /* height: 100%; */
    min-height: 100vh;
    /* border: 3px solid rgb(255, 0, 0); */
    margin: 0;
    padding: 0;
}


#left-area {
    left: 0;
    background-color: rgba(0, 255, 255, 0.322);
}

#right-area {
    right: 0;
    background-color: rgba(255, 0, 0, 0.322);
}

.touch-area {
    position: absolute;
    top: var(--navheight);
    height: calc(100vh - var(--navheight));
    width: 50vw;
}

#tackle {
    position: absolute;
    right: 3vw;
    bottom: 3vh;
    height: 20vh;
    width: 20vh;
    border-radius: 50%;
    background-color: #1d62e29d;
}

#t #blue-team tr {
    background-color: rgba(0, 0, 255, 0.5);
}

#red-team tr {
    background-color: rgba(255, 0, 0, 0.5);
}


#blue-team tr {
    background-color: rgba(0, 0, 255, 0.5);
}

#red-team tr {
    background-color: rgba(255, 0, 0, 0.5);
}

#info {
    position: absolute;
    right: 0vw;
    top: var(--navheight);
    z-index: 1;
    margin-top: 5px;
}

#info * {
    pointer-events: none;
    border-radius: 0px;
}

#navbar {
    background-color: #1168b955;
}

#score-board {
    /* background: #314755;  
    background: -webkit-linear-gradient(to right, #26a0da, #314755);  
    background: linear-gradient(to right, #26a0da, #314755); */
    background: #b92b27;
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);
    background: linear-gradient(to right, #1565C0, #b92b27);

    display: inline-block;
    color: white;
    position: relative;
    /* border-radius: 10%; */
    /* border: 1px solid black; */
}

.score {
    display: inline-block;
    margin-left: 10px;
    margin-right: 8px;
}

#final-score-board {
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.final-score {
    font-size: 7em;
}

.navbar-btn-my {
    /* background-color: #fbff00; */
    background-color: #1565c063;
}

/* body>*:not(.highlight) {
    display: none;
    background: #ffd83c;
    filter: blur(3px);
} */