<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,height=device-height initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Soccer</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <script src="/libraries/p5.js"></script>
    <!-- CSS only -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/libraries/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="stylesheet" href="counter.css"> -->
</head>
<body>
    <div id="canvasDiv">
       
        <!-- <div id="go321"></div> -->
    </div>
    
    <!-- <audio src="/assets/kick.mp3" id="kick-sound" preload="auto"></audio>
    <audio src="/assets/goal-sound.mp3" id="goal-sound" preload="auto"></audio> -->
    <script src="/libraries/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let roomName = "<%=roomName%>";
    </script>
    <script src="../libraries/joystick.js"></script>
    <script src="/constants.js"></script>
    <script src="/game/field.js"></script>
    <script src="/game/cplayer.js"></script>
    <script src="/game/cgame.js"></script>
    <script src="/game/cball.js"></script>
    <script src="/game/helper.js"></script>
    <script src="/game/index.js"></script>
</body>
</html>